/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: "Open Sans", sans-serif;
   
}

/* regole header */

header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background-color:white;
    z-index: 80;
    overflow-y: hidden;
    /* debug */
    /* background-color: rgb(24, 23, 21); */
}

 a{
    text-decoration: none;
    color: black;
    
}

#container-top{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.menu{
    align-items: center;  
    display: flex;  
    /* debug */
    /* height: 100px;
    width: 300px; */
    /* background-color: rgb(15, 15, 12); */
    /* color: white; */
}

.lista{
    display: flex;
    align-items:center ;
    justify-content: space-between;
}

 li {
    list-style-type: none;
}

a{
    margin: 0 10px;
}

.bottone{
    padding: 10px 15px;
    background-color: rgb(58, 94, 253);
    color: white;
    font-size: 15px;

}

/* regole main */


#sfondo{
    background-color: rgb(114, 147, 255);
    padding: 3% 0 0 0;
    /* debug */
    /* width: 100%; */
    /* min-height: 500px; */
}

#jumbo{
    margin: 5% 25%;
    text-align: center;
    
    /* debug */
    /* background-color: black; */
    /* min-height: 300px; */
}

h1{
    font-size: 50px;
    margin-bottom: 20px;
}

#conteiner-jumbo{
    display: flex;
    gap: 30px;
}

#img-jumbo img{
    max-width: 130%;
    height: 120%;
}

.testo{
    text-align: left;
    min-width: 100px;
}

.testo p{
    margin-bottom: 30px;
    text-align: left;
}

.testo .bottone{
    background-color: blue;
    
}

.testo div{
    margin-top: 30px;
}

.container-main h2{
    margin-bottom: 5%;

}

.container-main{
    margin: 30px 15%; 
    padding: 2%;
}

.price-plane{
   padding: 20px;

}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.col{
    flex-basis: calc(100% / 3 - 20px);
    margin: 30px 0px;
    border: solid 1px grey;
    min-width: 200px;
    line-height: 30px;
    min-height: 800px;
        
}

.titolo-col{
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid black; 
    line-height: 40px;  
}

.cont-col{
    flex-wrap: nowrap;
    padding: 4%;
    line-height: 35px;
    

}

.cont-col > a{
    display: block;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    padding: 1%;
}

.cont-col > div {
   margin: 30px 0;
}

.border{
    width: 20%;
    border-bottom:2px solid grey ;
}

.in-col{
    text-decoration: underline;
    color: blue;

}

.cont-col li{
    font-size: 11px;
}

.check::before{
    content: "\2714";
    color: blue;
    font-size: 30px;
}

#enterprise{
    border: solid 1px grey;
}

#tit-ent {
    border-bottom: 1px solid grey;
    line-height: 40px;
    text-align: center;
}

#cont-ent{
    padding: 2%;
}

#cont-ent h2{
    display: inline-block;
    margin-right: 60%;
}

#in{
    display: inline-block;
}

#text{
    width: 60%;
    padding: 3% 0 ;
    
}

.banner-main{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;

    /* debug */
    min-height: 150px;
    min-width: 300px;
    /* background-color: darkolivegreen; */
}

.col-banner{
    flex-basis:calc(100% /2 - 20px);
    flex-shrink: 1;
    margin: 0 10px;
    min-width: 200px;   
    
    }

    .col-banner img{
        max-width: 100%;
        max-height: 100%;
    }

    .col-banner > div{
        padding: 10% 4%;
        width: 75%;
        
    }

    #spazi{
        margin: 40px 0;
    }

    #btn-wht{
        border: 1px solid black;
        background-color: white;
        color: black;
    }

#opr h2{
    text-align: center;
}    

.operation{
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-operation{
    max-width: calc(100% / 3 - 20px);
    flex-shrink: 1;
    margin: 50px 10px;
    min-width: 200px;

    
    /* degub */
    /* min-height: 100px; */
    /* min-width: 60px; */
    /* background-color: darkgreen;  */
}

.col-operation img{
    max-width: 100%;
    max-height: 100%;
}

.col-operation h3{
    margin: 30px 0;
}

.spam >a {
    text-decoration: underline;
    color: blue;
    font-size: 10px;
}

.container-flx-bot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* debug */
    min-height: 500px;
    background-color: dimgrey;
}

.col-bot{
    flex-basis: calc(100%/3);

    /* debug */
    background-color: aquamarine;
    min-height: 300px;
    border: 1px solid black;

}

.colx4{
    display: flex; 
    flex-wrap: wrap;   
}

.col-intx4{
    width: 50%;
    width: 50%;
    min-width: 200px;
    /* debug */
    background-color: darkslateblue;
    border: 1px solid black;

}

#prova-bot{
    padding: 0 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    min-height: 200px;
    width: 100%;
}

#prova-bot> h3{
    color: brown;
    font-size: 30px;

}

#faq{
    margin: 0 25%;
    padding: 40px 0; 

}

hr{
    border-top: 2px solid rgb(10, 10, 10);
    margin: 30px 0;
}

#faq > h3{
    display: inline-block;
    margin-right: 35%;
}

/* regole footer */

footer{
    background-color: black;
    color: white;
    width: 100%;
    /* debug */
    min-height: 300px;
}

.cont-flx-footer{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 5% 15%;
    gap: 10px;
}

.col-footer{
    width:20%;
    min-width: 10px;

    /* debug */
    min-height: 200px;
    background-color: aquamarine;
}

#select-lg{
    padding: 0 15%;
}

.hr-spec{
    margin-left: 15%;
    width: 150px;
    border-top : 2px solid white;
}

